.date{
    width: 200px;
  }

  .date span{
    color: white;
    padding: 4px;
    text-align: center;
}

.span--container{
  background-color: rgb(91, 105, 8);
  border: 1px ridge whitesmoke;
  width: fit-content;
  border-radius: 6px;
}
